extends layout 

block content 

    h1= title
    form(method='POST' action='')
      label(for='title') Title:
      input(type='text', placeholder='Game Name' name='title')
      label(for='description') Description:
      input(type='text-area', name='description')
      label(for='release_date') Release Date: 
      input(type='date', name='release_date')
      button(type='submit') Submit

    h2= message

    if errors 
      ul 
        for error in errors 
          li= error.msg