extends layout 

block content 

    h1= title
    form(method='POST' action='')
      label(for='name') Genre:
      input(type='text', placeholder='Action, Shooter etc.' name='name' value=(genre === undefined  ? '' : genre.name))
      button(type='submit') Submit

    h2= message

    if errors 
      ul 
        for error in errors 
          li= error.msg