extends layout

block content
  h1= title
  p Welcome to #{title}

  div.links
    a(href='/games') View Games 
    br
    a(href='/devs') View Developers 
    br
    a(href='/genres') View Genres 
    