extends layout

block content
  h1= title
  p Welcome to the #{title}

  div.links
    a(href='/games') View Games 
    br
    a(href='/devs') View Developers 
    br
    a(href='/genres') View Genres 
    br
    br
    br
    a(href='/genres/create') Create Genre
    br
    a(href='/devs/create') Create Dev
    br
    a(href='/games/create') Create Game
    